
<div class="container">
  <div class="col-md-6">
    <div class="row">
      <div class="col" style="padding-top:10px;">
        <label>
          Email:
          <input type="text" [(ngModel)]="registerUserData.email">
        </label><br>
        <label>
          Password:
          <input type="password" [(ngModel)]="registerUserData.password">
        </label><br>
        <p>
          <button (click)="updateName()" class="btn btn-primary">Submit</button>
        </p>
      </div>
    </div>
  </div>
  </div>